/* Estilo para la sección Acerca de mí */
#sobremi {
    background:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
   url('img/fondo2.jpg');
  background-size: cover;
  height: 100%; /* Asegura que el contenedor tome la altura completa */
  min-height: 100vh; /* Establece una altura mínima en vista vertical */
  background-position: center;
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */
  }
  
  
  #sobremi .contenedor-foto img {
    max-width: 350px;
    height: auto;
    display: block;
    border-radius: 50%; /* Crea un borde circular para la imagen */
    margin: 0 auto; 
  }
  .sobremi {
    text-align: center; /* Alinea el texto al centro */
  }
  .titulo-seccion {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  #sobremi .titulo-seccion {
    margin-bottom: -10px; /* Reduce el margen inferior del título para acercarlo a la imagen */
}
  
  #sobremi .sobremi p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 100px;
    text-align: justify;
    margin-bottom: 20px; /* Agrega espacio entre el párrafo y el botón */
  }
  
  #sobremi .sobremi a {
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid #007BFF;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 7px;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  transition: background-color 0.3s;
  }
  #sobremi .sobremi a:hover {
    background-color: #0095ff;
    color: #fff;
  }

@media (max-width: 1000px){
  #sobremi .contenedor-foto img {
    max-width: 75%;
    height: auto; /* La altura se ajustará automáticamente según el ancho */
}
.titulo-seccion {
  font-size: 40px;
  font-weight: bold;
}

}
@media (max-width: 952px){
  #sobremi .contenedor-foto img {
    max-width: 60%;
    height: auto; /* La altura se ajustará automáticamente según el ancho */
}
.titulo-seccion {
  font-size: 35px;
  font-weight: bold;
}

}
/* Estilos para pantallas más pequeñas (ejemplo: dispositivos móviles) */
@media (max-width: 858px) {
  #sobremi {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    text-align: center; /* Alinea el contenido al centro */
  }

  .titulo-seccion {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }

  #sobremi .contenedor-foto img {
    max-width: 35%; /* Ajusta el ancho de la imagen */
  }

  #sobremi .sobremi p {
    font-size: 18px;
    
  }
  #sobremi .sobremi a {
    font-size: 14px; /* Ajusta el tamaño de fuente del botón */
    margin-top: 10px; /* Reduce el margen superior del botón */
  }
}
@media (max-width: 450px){
  #sobremi {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    text-align: center; /* Alinea el contenido al centro */
  }

  .titulo-seccion {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }

  #sobremi .contenedor-foto img {
    max-width: 35%; /* Ajusta el ancho de la imagen */
  }

  #sobremi .sobremi p {
    font-size: 18px;
    text-align: left;
    margin: 0 20px;
    
  }
  #sobremi .sobremi a {
    font-size: 14px; /* Ajusta el tamaño de fuente del botón */
    margin-top: 10px; /* Reduce el margen superior del botón */
  }
}
